[user]
	name = Vincent Dlugosch
{{ if eq .chezmoi.username "vdlugosch-zalf" }}
	email = vincent.dlugosch@zalf.de
{{ else if eq .chezmoi.username "vdlugosch" }}
	email = dlugoschvincent@gmail.com
{{ end }}
[init]
	defaultBranch = main
[merge]
	ff = only
[pull]
	ff = only
